<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1074517815242-2bho2542jb98of57skud1rf7uvaecaig.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1074517815242-2bho2542jb98of57skud1rf7uvaecaig</string>
	<key>API_KEY</key>
	<string>AIzaSyCmVbg2AB6Mky7J_cVj-rDBejxsNfWfl2A</string>
	<key>GCM_SENDER_ID</key>
	<string>1074517815242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healersChat.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chat-62998</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-62998.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1074517815242:ios:8057f3a297e11fcebaa933</string>
</dict>
</plist>